.button {
    background: #015bfa;
    border-radius: 20px;
    border: none;
    height: 20px;
    min-width: 135px;
    padding: 20px 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    outline: none;
}